.navbar {
    width: 100%;
    min-height: 80px;
    background-color: #D9D9D9;
    position: fixed;
    top: 0;
    

    .navbar-container {
        width: 100%;
        min-height: inherit;
        display: flex;
        justify-content: flex-end;
        // padding-right: 50px;
    }

    .user {
        width: 200px;
        min-height: inherit;
        background-color: white;
        margin-right: 80px;
        display: flex;
        align-items: center;
        justify-content: center;

        .user-picture {
            width: 40px;
            height: 40px;
            border-radius: 50%;
            // border: 1px solid red;
            background-position: center;
            background-size: cover;
            background-repeat: no-repeat;
            margin-right: 5px;
        }

        .user-name {
            margin-left: 5px;
        }

        

    }

}